* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(24, 69, 205);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background: #ffff;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.choix {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.choix h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: #999999e3;
}

img {
  width: 60px;
  height: 60px;
  margin: 20px 0;
}

button {
  padding: 5px 30px;
  margin-top: 20px;
  border: 1px solid blue;
  background-color: blue;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

button:focus {
  background: white;
  color: blue;
}